{% trans_default_domain 'MrappsBackendBundle' %}
{% extends 'MrappsBackendBundle:Default:layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/dist/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/mrappsbackend/css/select2-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/angular-ui-bootstrap-bower/ui-bootstrap-csp.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/dist/themes/default/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-minicolors/jquery.minicolors.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/ui-select/dist/select.min.css') }}">
{% endblock css %}
{% block content %}
    <div class="container-fluid" ng-controller="CalendarController as form">
        {% if fields is not null %}
            <div class="col-md-4">
                <div id='panel'>
                    <form id="input">
                        {% for field in fields %}
                            {% set twig_name = ['MrappsBackendBundle:Type:',field.type,'.html.twig']|join %}
                            {{ include(twig_name, { 'field': field }) }}
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div id='calendar'></div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div id='calendar'></div>
            </div>
        {% endif %}
    </div>
    </div>

{% endblock content %}
{% block srcjavascript %}
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/fullcalendar/dist/lang-all.js') }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/dist/sweetalert.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-resource/angular-resource.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-file-upload/dist/angular-file-upload.min.js') }}"></script>
    <script src='{{ asset('assets/vendor/tinymce-dist/tinymce.min.js') }}'></script>
    <script src='{{ asset('assets/vendor/angular-ui-tinymce/src/tinymce.js') }}'></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src='{{ asset('assets/vendor/angular-ui-sortable/sortable.min.js') }}'></script>
    <script src='{{ asset('assets/vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js') }}'></script>
    <script src="{{ asset('assets/vendor/jstree/dist/jstree.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/ng-js-tree/dist/ngJsTree.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-ui-validate/dist/validate.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-minicolors/jquery.minicolors.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-minicolors/angular-minicolors.js') }}"></script>
    <script src="{{ asset('assets/vendor/ui-select/dist/select.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/lodash/dist/lodash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-simple-logger/dist/angular-simple-logger.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/angular-google-maps/dist/angular-google-maps.min.js') }}"></script>
{% endblock srcjavascript %}
{% block javascript %}
    <script type="text/javascript">

        myAngular.controller("CalendarController", CalendarController);

        function CalendarController($scope, $http, FileUploader, uiGmapGoogleMapApi) {
            var vm = this;

            {% set jsFields = [] %}
            {% for field in fields %}
            {% set jsFields = jsFields|merge([field]) %}
            {% if field.type == 'switch' %}
            {% for inner_field in field.data %}
            {% set jsFields = jsFields|merge([inner_field]) %}
            {% endfor %}
            {% endif %}
            {% endfor %}

            {% for field in jsFields %}
            {% set twig_name = ['MrappsBackendBundle:TypeJS:',field.type,'.js.twig']|join %}
            {{ include(twig_name, { 'field': field }) }}
            {% endfor %}

            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    lang: 'it',
                    eventSources: [
                        '{{ calendarAjax }}'
                    ],
                    {% if calendarNew is defined and calendarNew is not null  %}
                    dayClick: function(date, jsEvent, view) {
                        $scope.form.date = date.format();
                        $.ajax({
                            type: "POST",
                            url: "{{ calendarNew }}",
                            data: $scope.form,
                            success: function(data) {
                                if(data.success){
                                    toastr.success('elemento salvato', 'Salvato');
                                    data = JSON.parse(data.data);
                                    $('#calendar').fullCalendar('renderEvent', data);
                                }else{
                                    toastr.error(data.message, 'Error');
                                }
                            },
                            error: function () {
                                toastr.error("Errore richiesta al server", 'Error');
                            },
                            dataType: 'json'
                        });
                    },
                    {% endif  %}
                    {% if calendarDelete is defined and calendarDelete is not null  %}
                    eventClick: function(event) {
                        swal({
                            title: "Delete event",
                            text: "Sei sicuro di volerlo eliminare?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ 'checkbox.si'|trans }}",
                            cancelButtonText: "{{ 'checkbox.no'|trans }}",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function (isConfirm) {
                            if (isConfirm) {
                                $.post("{{ calendarDelete }}", event.id).then(function successCallback(response) {
                                    if (response.success) {
                                        swal("Eliminato", "Elemento salvato con sucesso", "success");
                                        $('#calendar').fullCalendar('removeEvents',event._id);
                                    } else {
                                        swal("Errore", response.data.message, "error");
                                    }
                                }, function errorCallback(response) {
                                    swal("Errore", "Errore nella richiesta al server", "error");
                                });
                            } else {
                                swal("Annullato", "eliminazione annullata", "error");
                            }
                        });
                    },
                    {% endif  %}
                })
            });

        }
    </script>
{% endblock javascript %}
