{% extends 'MrappsBackendBundle:Default:layout.html.twig' %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{ path('mrapps_backend_profile_changepwd') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_change_password">
                <div class="form-container">
                    <div>
                        <label for="fos_user_change_password_form_current_password" class="required">{{ 'form.current_password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required="required" class="form-control">
                    </div>
                    <div>
                        <label for="fos_user_change_password_form_new_first" class="required">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="fos_user_change_password_form_new_first" name="fos_user_change_password_form[new][first]" required="required" class="form-control">
                    </div>
                    <div>
                        <label for="fos_user_change_password_form_new_second" class="required">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="fos_user_change_password_form_new_second" name="fos_user_change_password_form[new][second]" required="required" class="form-control">
                    </div>
                    <input type="hidden" id="fos_user_change_password_form__token" name="fos_user_change_password_form[_token]" value="{{ csrf_token('change_password') }}" />
                    <div class="cb"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="submit" class="btn btn-primary"
                               value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
                    </div><!-- .col -->
                </div><!-- .row -->
            </form>
        </div>
    </div>

{% endblock content %}
{% block srcjavascript %}
    <script tyle="text/javascript">
        {% if errors is defined and errors is iterable %}
        {% for e in errors %}
        toastr.error("{{ e.message }}", '{{ 'form.errore'|trans({}, 'MrappsBackendBundle') }}');
        {% endfor %}
        {% endif %}
        {% if success %}
        toastr.success('{{ 'change_password.flash.success'|trans({}, 'FOSUserBundle') }}','{{ 'form.salvato'|trans({}, 'MrappsBackendBundle') }}');
        {% endif %}
    </script>

{% endblock srcjavascript %}
{% block javascript %}

{% endblock javascript %}