{% trans_default_domain 'MrappsBackendBundle' %}
{% if field.value is not iterable %}{% set field = field|merge({'value':[]}) %}{% endif %}
<fieldset id="{{ field.name }}" {% if field.disable_dotted is defined and field.disable_dotted %}class="bb0"{% endif %}>
    <div class="form-group">


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-2">
                <div class="panel-heading clearfix">
                    <div class="pull-left">{{ field.title }}</div>
                    {% if field.disable_add is not defined or field.disable_add==false %}
                        <button type="button" class="btn btn-labeled btn-success pull-right"
                                ng-click="{{ field.name }}AddDetail()">
                                <span class="btn-label">
                                    <em class="fa fa-plus"></em>
                                </span>{{ 'form.aggiungi_nuovo'|trans }}
                        </button>
                    {% endif %}
                </div>

            </div>
        </div>


        <div ng-repeat="detail in form.{{ field.name }}">

            <div class="panel-heading clearfix mrbackend-sections">
                {% for s in field.structure %}
                    {% if s.visible is not defined or s.visible %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ s.title }}{% if s.required is defined and s.required==true %} *{% endif %}</label>
                            <div class="col-sm-9">
                                {% if field.disable_edit is not defined or field.disable_edit==false %}
                                    {% if s.type=='text' %}
                                        <input type="text" ng-model="detail.{{ s.name }}" class="form-control">
                                    {% elseif s.type=='textarea' %}
                                        <br />
                                        <textarea ng-model="detail.{{ s.name }}"
                                                  class="form-control" {% if s.tinymce is defined and s.tinymce==true %} ui-tinymce="tinymceOptions" {% endif %}></textarea>
                                    {% elseif s.type=='select' %}
                                        <ui-select ng-disabled="false" ng-model="detail.{{ s.name }}">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices group-by="'type'" repeat="item in ({{ field.name }}_{{ s.name }}_Items | filter: $select.search) track by item.value">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    {% elseif s.type=='date' %}
                                        {#<div>{/{{ field.name }}_{{s.name}}_dpOpened/}</div>
                                        
                                        <input type="text" class="form-control" datepicker-popup="{{s.format}}" ng-click="{{field.name}}_{{s.name}}_dpOpen($event)" ng-change="{{field.name}}_{{s.name}}_onChange()"
                                            ng-model="detail.{{ s.name }}" is-open="{{field.name}}_{{s.name}}_dpOpened" datepicker-options="{{field.name}}_{{s.name}}_dpOptions" show-button-bar="false"
                                         />
                                         <span class="input-group-btn">
                                             <button type="button" class="btn btn-default btn-form" ng-click="{{field.name}}_{{s.name}}_dpOpen($event)"><i class="fa fa-calendar"></i></button>
                                         </span>#}
                                    {% endif %}
                                    <div ng-show='detail._{{ field.name }}_original.{{ s.name }}!=""&&detail.{{ s.name }}!=detail._{{ field.name }}_original.{{ s.name }}'>
                                        <button type="button" class="btn btn-labeled btn-warning pull-right"
                                                ng-click='{{ field.name }}UndoEditDetail("{{ s.name }}",$index)'>

                                            <span class="btn-label">
                                                <em class="fa fa-undo"></em>
                                            </span>{{ 'form.annulla'|trans }}
                                        </button>
                                        <br /><br />
                                    </div>
                                {% else %}
                                    <span>{/ detail.{{ s.name }} /}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" ng-model="detail.{{ s.name }}">
                    {% endif %}
                {% endfor %}
                {% if field.disable_delete is not defined or field.disable_delete==false %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-2">
                            <br/>
                            <button type="button" class="btn btn-labeled btn-danger pull-right"
                                    ng-click='{{ field.name }}DeleteDetail($index)'>
                                <span class="btn-label">
                                    <em class="fa fa-trash"></em>
                                </span>{{ 'form.elimina'|trans }}
                            </button>
                            <div class="cb"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <br/>
            <br/>
        </div>
        {% if field.max is defined %}
            <div>Numero di elementi: {/ form.{{ field.name }}.length /}/{{ field.max }}</div>
        {% endif %}

    </div>
</fieldset>
