<fieldset id="{{field.name}}" {% if field.disable_dotted is defined and field.disable_dotted %}class="bb0"{% endif %}>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{field.title}}{% if switch is not defined and field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left" ng-show='{{field.name}}AddNew'>
                        <ui-select ng-disabled='{{ field.name }}Select.progress' name="{{ field.name }}Selected" ng-model="{{field.name}}Select.selected">
                            <ui-select-match>
                                <span ng-bind="$select.selected.{{ field.select2.string_field }}"></span>
                            </ui-select-match>
                            <ui-select-choices {% if field.select2.fetch_all is not defined or field.select2.fetch_all == false %}refresh="{{field.name}}RefreshSelect($select.search)" refresh-delay="300"{% endif %} group-by="'type'" repeat="item in ({{ field.name }}Select.data | filter: $select.search) track by item.{{ field.select2.id_field }}">
                                <span ng-bind="item.{{ field.select2.string_field }}"></span>
                            </ui-select-choices>
                        </ui-select>
                        <i ng-show='{{ field.name }}Select.progress' class='fa fa-spin fa-spinner'></i>
                        <button ng-disabled='{{ field.name }}Select.progress' type="button" class="btn btn-labeled btn-info" ng-click="{{field.name}}SaveSelect()">
                            <span class="btn-label">
                                <em class="fa fa-check"></em>
                            </span>Salva
                        </button>
                        <button ng-disabled='{{ field.name }}Select.progress' type="button" class="btn btn-labeled btn-warning" ng-click="{{field.name}}CloseAdd()">
                            <span class="btn-label">
                                <em class="fa fa-ban"></em>
                            </span>Annulla
                        </button>
                        <div>
                            {% if field.extra_fields is defined and field.extra_fields is iterable %}
                                {% for f in field.extra_fields %}
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick">
                                            <input type="checkbox" name="{{field.name}}_{{f.name}}" id="{{field.name}}_extra_{{f.name}}" class="needsclick" {#{% if field.value is defined %}ng-checked="{{field.value}}" ng-init="form.{{field.name}}='{{field.value}}'"{% endif %}#} value="1" {% if f.default == true %}checked{% endif %} />
                                            <span class="fa fa-check"></span>{{ f.title }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <button type="button" class="btn btn-labeled btn-success pull-right" ng-click="{{field.name}}OpenAdd()" ng-show='!{{field.name}}AddNew'>
                        <span class="btn-label">
                            <em class="fa fa-plus"></em>
                        </span>{{ 'form.aggiungi_nuovo'|trans }}
                    </button>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {% for c in field.columns if (c.visible is not defined or c.visible == true) %}
                            <th sortable="'{{ c.name }}'">{{ c.title }}</th>
                        {% endfor %}
                        {% if field.extra_fields is defined and field.extra_fields is iterable %}
                            {% for f in field.extra_fields %}
                                <th sortable="'{{ f.name }}'">{{ f.title }}</th>
                            {% endfor %}
                        {% endif %}
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody ui-sortable="{{field.name}}SortableOptions" ng-model="form.{{field.name}}">
                    <tr ng-repeat="r in form.{{field.name}}">
                        {% for c in field.columns if (c.visible is not defined or c.visible == true) %}
                            <td data-title="'{{ c.title }}'">{/ r.{{ c.name }} /}</td>
                        {% endfor %}
                        {% if field.extra_fields is defined and field.extra_fields is iterable %}
                            {% for f in field.extra_fields %}
                            <td data-title="'{{ f.title }}'">
                                {% if f.type == "checkbox" %}
                                    <input type="checkbox" onclick='event.preventDefault();' ng-checked="r.{{ f.name }}">
                                {% else %}
                                    <td data-title="'{{ f.title }}'">{/ r.{{ f.name }} /}</td>
                                {% endif %}
                                </td>
                            {% endfor %}
                        {% endif %}
                        <td>
                            <button type="button" ng-click="{{field.name}}DeleteItem(r)" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash-o"></em>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if field.didascalia is defined %}
            <div class="col-sm-4">
                <small class="text-muted">{{field.didascalia}}</small>
            </div>
        {% endif %}
    </div>
</fieldset>