<fieldset id="{{field.name}}" {% if field.disable_dotted is defined and field.disable_dotted %}class="bb0"{% endif %}>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{field.title}}{% if switch is not defined and field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left">
                        <div>{/ {{field.name}}.Selected /}</div>
                        <div>{/ {{field.name}}DataSelect /}</div>
                        <ui-select {#name="{{ field.name }}Selected"#} ng-model="{{field.name}}.Selected">
                            <ui-select-match>
                                <span ng-bind="$select.selected.{{ field.select2_string_field }}"></span>
                            </ui-select-match>
                            <ui-select-choices refresh="{{field.name}}RefreshSelect($select.search)" refresh-delay="300" group-by="'type'" repeat="item in ({{ field.name }}DataSelect | filter: $select.search) track by item.{{ field.select2_id_field }}">
                                <span ng-bind="item.{{ field.select2_string_field }}"></span>
                            </ui-select-choices>
                        </ui-select>
                        <br/>
                        <button type="button" class="btn btn-labeled btn-info" ng-click="{{field.name}}SaveSelect()">
                            <span class="btn-label">
                                <em class="fa fa-check"></em>
                            </span>Salva
                        </button>
                        <button type="button" class="btn btn-labeled btn-warning" ng-click="">
                            <span class="btn-label">
                                <em class="fa fa-ban"></em>
                            </span>Annulla
                        </button>
                    </div>
                    <button type="submit" class="btn btn-labeled btn-success pull-right" ng-click="">
                        <span class="btn-label">
                            <em class="fa fa-plus"></em>
                        </span>{{ 'form.aggiungi_nuovo'|trans }}
                    </button>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {% for c in field.columns if (c.visible is not defined or c.visible == true) %}
                            <th sortable="'{{ c.name }}'">{{ c.title }}</th>
                        {% endfor %}
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in {{field.name}}DataTable">
                        {% for c in field.columns if (c.visible is not defined or c.visible == true) %}
                            <td data-title="'{{ c.title }}'">{/ r.{{ c.name }} /}</td>
                        {% endfor %}
                        <td>
                            <button type="button" ng-click="" class="btn btn-sm btn-danger">
                                <em class="fa fa-trash-o"></em>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if field.didascalia is defined %}
            <div class="col-sm-4">
                <small class="text-muted">{{field.didascalia}}</small>
            </div>
        {% endif %}
    </div>
</fieldset>