<fieldset id="{{field.name}}" {% if field.disable_dotted is defined and field.disable_dotted %}class="bb0"{% endif %}>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{field.title}}{% if switch is not defined and field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <input {% if field.accept is defined %}accept="{{field.accept}}"{% endif %} ng-disabled="{{field.name}}_uploading" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="{{field.name}}" class="form-control" />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button ng-if="{{field.name}}_uploading == false && form.{{field.name}} > 0" type="button" class="btn btn-danger btn-xs" ng-click="{{ field.name }}_deleteFile()">
                    <span class="fa fa-trash"></span> {{ 'form.elimina'|trans }}
                </button>
                <br /><br /><br />
            </div><!-- .col -->
        </div>
        {% if field.didascalia is defined %}
            <div class="col-sm-4">
                <small class="text-muted">{{field.didascalia}}</small>
            </div>
        {% endif %}
    </div>
    <div class="progress" ng-show="{{field.name}}_uploading">
        <div class="progress-bar" role="progressbar" aria-valuenow="{/ {{field.name}}_progress /}"
             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':{{field.name}}_progress+'%'}">
        </div>
    </div>
    <div ng-show="{{field.name}}_uploading && {{field.name}}_progress >= 100" id="load_{{field.name}}" class="hide sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
    <div ng-show="{{field.name}}_uploading == false && form.{{field.name}} > 0" class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <br />
            <p>
                <img style="float:left; width:100px; height:100px; margin-right: 20px;" ng-src="{/{{field.name}}_assets[{{field.name}}_normalized_type]/}" />
                <h3>{/ {{field.name}}_original_name /}</h3>
                <span>{/ {{field.name}}_mime_type /}</span>
            </p>
        </div>
    </div>
    <div ng-show="{{field.name}}_uploading == false && (form.{{field.name}} == 0 || form.{{field.name}} == null)" class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div>Nessun file caricato.</div>
        </div>
    </div>
</fieldset>