<fieldset id="{{field.name}}">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{field.title}} {% if field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <input type="password" name="{{field.name}}" {% if field.required %}required="true"{% endif %} ng-model="form.{{field.name}}" {% if field.pattern is defined %}ng-pattern="{{field.pattern}}"{% endif %} class="form-control" />
            {% if field.required %}<span ng-show="form.validateInput('{{field.name}}', 'required')" class="text-danger">This field is required</span>{% endif %}
            {% if field.pattern is defined %}<span ng-show="form.validateInput('{{field.name}}', 'pattern')" class="text-danger">Input should match 'a-zA-Z0-9' and 6-10 length</span>{% endif %}
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Confirm {{field.title}} {% if field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <input type="password" name="{{field.name}}_match" {% if field.required %}required="true"{% endif %} ng-model="form.{{field.name}}_match" ui-validate="'$value==form.{{field.name}}'" ui-validate-watch="'form.{{field.name}}'" class="form-control" />
            {% if field.required %}<span ng-show="form.validateInput('{{field.name}}_match', 'required')" class="text-danger">This field is required</span>{% endif %}
            {#<span ng-show="form.{{field.name}}_match.$dirty &amp;&amp; form.{{field.name}}_match.$error.validator" class="text-danger">Password does Not match</span>#}
        </div>
    </div>
</fieldset>