<fieldset>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{field.title}} {% if field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <input type="password" name="password1" {% if field.required %}required="true"{% endif %} ng-model="register.password1" {% if field.pattern is defined %}ng-pattern="{{field.pattern}}"{% endif %} class="form-control" />
            {#{% if field.required %}<span ng-show="form.validateInput('{{field.name}}', 'required')" class="text-danger">This field is required</span>{% endif %}#}
            {% if field.pattern is defined %}<span ng-show="form.validateInput('{{field.name}}', 'pattern')" class="text-danger">This field does not accept special characters</span>{% endif %}
            {#
            <span ng-show="registerForm.password1.$dirty &amp;&amp; registerForm.password1.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 6-10 length</span>#}
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">Confirm {{field.title}} {% if field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <input type="password" name="confirm_match" {% if field.required %}required="true"{% endif %} ng-model="register.password2" ui-validate="'$value==register.password1'" ui-validate-watch="'register.password1'" class="form-control" />
            {#{% if field.required %}<span ng-show="form.validateInput('{{field.name}}', 'required')" class="text-danger">This field is required</span>{% endif %}#}
            {#<span ng-show="registerForm.confirm_match.$dirty &amp;&amp; registerForm.confirm_match.$error.validator" class="text-danger">Password does Not match</span>#}
        </div>
    </div>
</fieldset>