<fieldset id="{{field.name}}" {% if field.disable_dotted is defined and field.disable_dotted %}class="bb0"{% endif %}>
    <div>{/ form.{{ field.name }} /}</div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ field.title }}{% if switch is not defined and field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <ui-select name="{{ field.name }}" id="select_{{ field.name }}" ng-model="form.{{ field.name }}">
                <ui-select-match>
                    <span ng-bind="$select.selected.value"></span>
                </ui-select-match>
                {% if field.ajax is not defined or field.ajax == false %}
                <ui-select-choices repeat="item in ({{ field.name }}Items) track by item.id">
                    {% else %}
                    <ui-select-choices refresh="refresh{{ field.name }}($select.search)" refresh-delay="0" group-by="'type'" repeat="item in ({{ field.name }}Items | filter: $select.search) track by item.id">
                        {% endif %}
                        <span ng-bind="item.value"></span>
                    </ui-select-choices>
            </ui-select>
        </div>
        {% if switch is not defined and field.required %}<span
            ng-show="form.validateInput('{{ field.name }}', 'required')" class="text-danger">
                This field is required</span>{% endif %}
        {% if field.didascalia is defined %}
            <div class="col-sm-4">
                <small class="text-muted">{{ field.didascalia }}</small>
            </div>
        {% endif %}
    </div>
</fieldset>