<fieldset {% if field.disable_dotted is defined and field.disable_dotted %}class="bb0"{% endif %}>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ field.title }}{% if switch is not defined and field.required %} *{% endif %}</label>
        <div class="{% if field.didascalia is defined %}col-sm-6{% else %}col-sm-9{% endif %}">
            <select name="{{ field.name }}" id="{{ field.name }}"
                    {% if field.multiple is defined %}multiple="multiple"{% endif %} {% if switch is not defined and field.required %}required="true"{% endif %}
                    ng-model="form.{{ field.name }}"
                    class="form-control select">
                {% for item in field.options %}
                    {% if item.values is defined %}
                        <optgroup label="{{ item.title }}">
                            {% for option in item.values %}
                                <option value="{{ option.value }}">{{ option.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% else %}
                        <option value="{{ item.value }}">{{ item.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        {% if switch is not defined and field.required %}<span
            ng-show="form.validateInput('{{ field.name }}', 'required')" class="text-danger">
                This field is required</span>{% endif %}
        {% if field.didascalia is defined %}
            <div class="col-sm-4">
                <small class="text-muted">{{ field.didascalia }}</small>
            </div>
        {% endif %}
    </div>
</fieldset>